@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

label {
    font-weight: 700;
}

html {
    height: 100%;
    box-sizing: border-box;
}

#app {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

div:focus {
    outline: none;
}

.clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}

.mgt20 {
    margin-top: 20px;
}

.mgt30 {
    margin-top: 30px;
}

// main-container global css
.app-container {
    padding: 30px;
}

.tron-filter-section {
    margin-bottom: 20px;
}

.tronp2pSettingForm .el-checkbox__label {
    line-height: 34px;
}

.tronp2pSettingForm .el-input-group__prepend {
    width: 125px;
}

.tronp2pSettingForm .el-input-group--prepend .el-input__inner,
.el-input-group__append {
    width: 100px;
}

.pluginSettingFormContent {
    padding-left: 20px;
}

.transcationDialogForm {
    .transcationDialogFormContent {
        padding-left: 20px;
    }
    .el-checkbox {
        min-width: 199px;
    }
}