<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" />
<title>首页</title>
<link rel="stylesheet" href="css/page.css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</head>

<body>
	<div class="left">
		<div class="bigTitle">一键部署系统</div>
		<div class="lines">
			<div onclick="pageClick(this)" class="active" id="server">服务器管理</div>
			<div onclick="pageClick(this)" id="projectmanagement">项目管理</div>
			<div onclick="pageClick(this)" ><a href="deploy">配置文件管理</a></div>
		</div>
	</div>
	<div class="top">
		<div class="leftTiyle" id="flTitle">服务器管理</div>
		<div class="thisUser">当前用户：</div>
	</div>
	<div class="content" id="server">
		<form action="/config/submit" method="post">
			<h5>Set Configuration</h5>
			<div>
				<label>Please select server:</label><br> 
			</div>

			
	</div>

	<div class="content" id="projectmanagement"></div>

	<div class="content" id="configmanagement"></div>




</body>

</html>